# --- Database ---
POSTGRES_USER: simpleauth
POSTGRES_DB: simpleauth
DATABASE_NAME: simpleauth
DATABASE_DB_HOST: db

# --- Security (Generate unique random values for these) ---
POSTGRES_PASSWORD: simpleauth
ENCRYPTION_KEY: "u2Sc1GgKj6ycRAhAWM1RxzqFCug4b+mltBPoypTMJTs="
SESSION_TOKEN_SECRET: "aDBbRTVDzrRlhEl9EVhBT9cxzbEuNrYh7wSauh5Av0o="

# --- base Configuration ---
# 動作サーバのドメイン部分のみを設定してください。WebAuthn RP ID 、nginxのサーバ名の設定に使用されます。
SERVER_HOSTNAME: "desptop-2024.tailc29351.ts.net"

# --- WebAuthn Configuration(for backend) ---
# RP Name は、ブラウザに表示されるアプリの名前です
WEB_AUTHN_RP_NAME: "SimpleAuth"

# --- backend設定 ----
# 管理者ユーザの初期メールアドレス
INITIAL_ADMIN_USER_EMAIL: "admin@localhost.com"
# バックエンドのベースパス(リバースプロキシでバックエンドのマッピングパスを設定)
BACKEND_PROXY_PREFIX: "/backend"

# --- backend/frontend共通設定 ----
# ブラウザーから見たバックエンドのベースURL
BACKEND_BASE_URI: "https://desptop-2024.tailc29351.ts.net/backend"
# フロントエンドのベースURL
FRONTEND_BASE_URL: "https://desptop-2024.tailc29351.ts.net"

# --- frontend設定 ----
# フロントエンドから見たバックエンドのベースURL
INTERNAL_BACKEND_API_URL: "http://backend:8000"

# --- 環境設定 ---
# ログレベル(development: debug, production: info)
ENV: "development"

# --- nginx configuration ---
SSL_CERTIFICATE_PATH: "/etc/nginx/ssl/mydev.tailcxxxxx.ts.net.crt"
SSL_CERTIFICATE_KEY_PATH: "/etc/nginx/ssl/mydev.tailcxxxxx.ts.net.key"

# --- PHOTOPRISM Configuration ---
# OIDC 識別子（OIDCクライアント管理画面で設定した値）
PHOTOPRISM_OIDC_CLIENT_ID: "photoprism-client"
# OIDCシークレット（OIDCクライアント管理画面で取得した値）
PHOTOPRISM_OIDC_CLIENT_SECRET: "VcSBBWn_QDUxCSbRmpUaYvSKNuChBrnsggSr5tQHylQ"
PHOTOPRISM_SITE_URL: "https://desptop-2024.tailc29351.ts.net:2343/"