# ==============================================================================
# DATABASE CONFIGURATION (PostgreSQL & backend)
# ==============================================================================
# --- Database ---
POSTGRES_USER: simpleauth
POSTGRES_DB: simpleauth
DATABASE_NAME: simpleauth
DATABASE_DB_HOST: db

# ==============================================================================
# SECURITY & CRYPTOGRAPHY
# (注意: 本番環境では必ず十分な長さのランダムな文字列に変更してください)
# ==============================================================================
POSTGRES_PASSWORD: "u2sc1ggkj6YcRAhAWM1RxzqFCug4b+mltBPoypTMJTs="
ENCRYPTION_KEY: "u2Sc1GgKj6ycRAhAWM1RxzqFCug4b+mltBPoypTMJTs="
SESSION_TOKEN_SECRET: "aDBbRTVDzrRlhEl9EVhBT9cxzbEuNrYh7wSauh5Av0o="

# ==============================================================================
# NETWORK & INFRASTRUCTURE (Nginx / frontend )
# ==============================================================================
# --- base Configuration ---
# 動作サーバのドメイン部分のみを設定してください。WebAuthn RP ID 、nginxのサーバ名の設定に使用されます。
SERVER_HOSTNAME: "your-domain.ts.net.net"
# --- nginx configuration ---
# SSL証明書のパスと秘密鍵のパスを設定してください。nginxでHTTPS通信を行うために使用されます。
SSL_CERTIFICATE_PATH: "/etc/nginx/ssl/server.crt"
SSL_CERTIFICATE_KEY_PATH: "/etc/nginx/ssl/server.key"


# ==============================================================================
# APPLICATION CORE SETTINGS
# ==============================================================================
# 動作環境 (development / production)
# ログ出力などに影響します(development: debug出力あり, production: debug出力なし)
ENV: "production"

# 管理者ユーザーの初期メールアドレス（初期セットアップ時に使用）
# (メールアドレス形式(xxx@xxx.xxx)で設定してください。初期管理者ユーザの作成に使用されます)
INITIAL_ADMIN_USER_EMAIL: "admin@localhost.com"
# --- WebAuthn Specific ---
# ブラウザに表示されるアプリ名
WEB_AUTHN_RP_NAME: "SimpleAuth"

# ==============================================================================
# API & FRONTEND ROUTING (URL mapping)
# ==============================================================================
# バックエンドのベースパス(リバースプロキシでバックエンドのマッピングパスを設定)
BACKEND_PROXY_PREFIX: "/backend"

# --- External URLs (Publicly accessible) ---
# フロントエンドから見たバックエンドのベースURL（ブラウザからアクセス）
BACKEND_BASE_URI: "https://your-domain.ts.net.net/backend"
# フロントエンド自体の基本URL
FRONTEND_BASE_URL: "https://your-domain.ts.net.net"
# --- Internal URLs (Docker internal network) ---
# フロントエンドから見たバックエンドの内部通信用URL
# ※基本は変更不要です。docker-compose.ymlのサービス名やポートを変更した場合は合わせて変更してください。
INTERNAL_BACKEND_API_URL: "http://backend:8000"

# ==============================================================================
# EXTERNAL SERVICES (PhotoPrism / OIDC)
# ==============================================================================
# OIDC 識別子（OIDCクライアント管理画面で設定した値）
PHOTOPRISM_OIDC_CLIENT_ID: "photoprism-client"
# OIDCシークレット（OIDCクライアント管理画面で取得した値）
PHOTOPRISM_OIDC_CLIENT_SECRET: "VcSBBWn_QDUxCSbRmpUaYvSKNuChBrnsggSr5tQHylQ"
# PhotoPrismのサイトURL
#  ブラウザからアクセスアドレス。
#   infra/nginx/nginx.conf で設定されるリバースプロキシのパスやdocker-compose.override.extras.ymlに合わせて設定してください。
PHOTOPRISM_SITE_URL: "https://your-domain.ts.net.net:2343/"