# Python virtual environment
venv/

# Node.js dependencies and build output
frontend/node_modules/
frontend/.next/

# Environment variables file
.env
.env_homesv
frontend/.env.local

# myssl
infra/nginx/ssl/mydev.tailcxxxxx.ts.net.crt
infra/nginx/ssl/mydev.tailcxxxxx.ts.net.key

# aide
.aider*

# roundcube用一時ファイル(開発)
infra/roundcube

# backend secrets
backend/secrets/oidc_private.pem
backend/secrets/oidc_public.pem

# 内部メモは除外
docs/memo.md

# vscode settings
.vscode/settings.json