# Python virtual environment
venv/

# Node.js dependencies and build output
frontend/node_modules/
frontend/.next/

# Environment variables file
.env
frontend/.env.local

# myssl
infra/nginx/ssl/mydev.tailcxxxxx.ts.net.crt
infra/nginx/ssl/mydev.tailcxxxxx.ts.net.key
.aider*

# backend secrets
backend/secrets/oidc_private.pem
backend/secrets/oidc_public.pem